<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="io.confluent.kafka.schemaregistry" level="${LOG_LEVEL:-INFO}"/>

    <root level="${LOG_LEVEL:-TRACE}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
